<div class="flex align-items-center justify-content-center" style="margin-left: -30%">
  <div class="min-w-min md:min-w-max">
    <p-panel class="header" header="Search Geo Objects" [toggleable]="true" resize>
      <ng-template pTemplate="icons">
        <button pButton class="p-panel-header-icon">
          <span class="material-symbols-outlined pinned"> push_pin </span>
        </button>
      </ng-template>
      <div class="header__mainblock">
        <div class="header__mainblock-panel flex flex-wrap align-items-center justify-content-center -m-2">
          <p-scrollPanel>
            <div class="grid h-auto">
              <div class="col">
                <div class="flex align-items-center justify-content-start p-5">
                  <div class="ml-2">
                    <span class="filter material-symbols-outlined"> filter_alt </span>
                  </div>
                  <div>
                    <p-dropdown
                      placeholder="Placemarks"
                      [options]="place"
                      [(ngModel)]="selectedPlace"
                      optionLabel="place"
                    >
                    </p-dropdown>
                  </div>
                </div>
              </div>

              <div class="headerDivider"></div>
              <div class="col">
                <span class="p-input-icon-right py-4">
                  <input
                    class="searchtext"
                    [formControl]="searchControl"
                    type="text"
                    pInputText
                    [(ngModel)]="value"
                    placeholder="Search"
                  />
                  <i class="filter material-symbols-outlined"> search </i>
                </span>
              </div>
            </div>
            <div class="zones" [ngClass]="expandedzone ? 'checkedzone' : 'nocheckedzone'">
              <div class="allbtn">
                <span class="material-symbols-outlined zoneimg">activity_zone</span>
                <sup class="zonetext">Zones</sup>
                <span
                  class="material-symbols-outlined click"
                  [ngClass]="expandedzone ? 'clickup' : 'click'"
                  (click)="getZones()"
                  >{{ expandedzone ? 'expand_less' : 'expand_more' }}</span
                >
              </div>
            </div>
            <div>
              <app-zoneswithcams
                [zones]="zonedata"
                [expanded]="expandedzone"
                [searchedValue]="searchedValue"
              ></app-zoneswithcams>
            </div>
            <div class="zones" style="margin-top: 20px" [ngClass]="expandedsite ? 'checkedzone' : 'nocheckedzone'">
              <div class="allbtn">
                <span class="material-symbols-outlined zoneimg">my_location</span>
                <sup class="zonetext">Sites</sup>
                <span class="material-symbols-outlined click">keyboard_arrow_down</span>
              </div>
            </div>
            <div class="zones" style="margin-top: 20px" [ngClass]="expandedplacemarker ? 'checkedzone' : 'nocheckedzone'">
              <div class="allbtn">
                <span class="material-symbols-outlined zoneimg">location_on</span>
                <sup class="zonetext">Placemark</sup>
                <span class="material-symbols-outlined click">keyboard_arrow_down</span>
              </div>
            </div>
            <div class="zones" style="margin-top: 20px" [ngClass]="expandedlayer ? 'checkedzone' : 'nocheckedzone'">
              <div class="allbtn">
                <span class="material-symbols-outlined zoneimg">layers</span>
                <sup class="zonetext">Layers</sup>
                <span class="material-symbols-outlined click">keyboard_arrow_down</span>
              </div>
            </div>
          </p-scrollPanel>
        </div>
      </div>
    </p-panel>
  </div>
</div>
