<ng-template [ngIf]="expanded">
  <ng-container *ngFor="let item of zones">
    <div class="zones" style="margin-left: 30px">
      <input type="checkbox" [checked]="item.checked" />
      <div class="allbtn">
        <span class="material-symbols-outlined zoneimg">activity_zone</span>
        <sup class="zonetext">Zones</sup>
        <span
          class="material-symbols-outlined click"
          [ngClass]="expandcams ? 'clickup' : 'click'"
          (click)="openCams()"
          >{{ expandcams ? 'expand_less' : 'expand_more' }}</span
        >
      </div>
    </div>
    <ng-template [ngIf]="expandcams">
      <div cdkDropListGroup>
        <div cdkDropList [cdkDropListData]="item.cams" (cdkDropListDropped)="drop($event)">
          <div *ngFor="let cam of item.cams" cdkDrag>
            <div id="wrapper">
              <input type="checkbox" [checked]="cam.checked" />
              <div class="inside">
                <span class="material-symbols-outlined videocam">{{ cam.icon }}</span>
                <div class="textcams">
                  <p class="maincam">{{ cam.subzone }}</p>
                  <p class="text">{{ cam.camera }}</p>
                </div>
                <div class="constatus" [ngClass]="cam.connection ? 'connected' : 'disconnected'">
                  <span class="material-symbols-outlined connect">{{ cam.iconconn }} </span>
                  <sup class="conecttext">{{ cam?.connection ? 'Connection' : 'No connection' }} </sup>
                </div>
                <span class="material-symbols-outlined clickconnect">{{ cam.iconclick }} </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-container>
</ng-template>
