<!-- <div id="wrapper"cdkDrag>
    <input type="checkbox">
    <div class="inside">
        <span class="material-symbols-outlined videocam">videocam</span>
        <div class="textcams">
            <p class="maincam">Sensor 1</p>
            <p class="text">Camera 1</p>
        </div>
        <div class="constatus">
            <span class="material-symbols-outlined connect">sync_alt </span>
            <sup class="conecttext">{{"dissconected"}}</sup>
        </div>
        <span class="material-symbols-outlined clickconnect">wifi_tethering_off</span>
    </div> 
</div> -->
     <ng-container *ngFor="let item of zones">
        <div class="zones" style="margin-left: 20px;">
            <input type="checkbox" value={{item.checked}}>
            <div class="allbtn">
              <span class="material-symbols-outlined zoneimg">activity_zone</span>
              <sup class="zonetext">Zones</sup>
              <span  class="material-symbols-outlined click">keyboard_arrow_down</span>
            </div>
          </div>
    </ng-container>
 